.bg-image {
  background-image: url("http://cdn.shopify.com/s/files/1/1381/2647/articles/stages_of_weight_loss_1024x1024.png?v=1625161628");
  background-size: cover;
  background-position: center center;
}
